body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

table, td, th {
    border: 1px solid #000;
}
  
table {
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}