body{
    font-family: Arial, Helvetica, sans-serif;
}

.text-red {
    color: #922d2d;
}

.header {
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 5px solid #922d2d;
    font-weight: 500;
}

.content-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 48px;
}

.content-list .content {
    /* padding: 25px; */
}

.content-list .content img {
    width: 100%;
}
.content-list .content .nd-khoahoc {
    text-align: justify;
}

.content-list .content i {
    display: inline-block;
    padding-right: 10px;
}

